/* * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} */

:root {
    --linear-grad: linear-gradient(to right, #1e624b, #08553b);
    /* --linear-grad: linear-gradient(to right, #141E30, #243B55); */
    /* --grad-clr1: #141E30; */
    --grad-clr1: #1e624b;
    --grad-clr2: #08553b;
}

/* body {
    height: 100vh;
    background: #f6f5f7;
    display: grid;
    place-content: center;
    font-family: 'Poppins', sans-serif;
} */

.authenticationContainer{
    position: relative;
    width: 850px;
    height: 650px;
    background-color: #FFF;
    box-shadow: 25px 30px 55px #5557;
    border-radius: 13px;
    overflow: hidden;
}

.authenticationContainer .form-container{
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0px 40px;
    transition: all 0.6s ease-in-out;
}

.authenticationContainer .sign-up-container{
    opacity: 0;
    z-index: 1;
}

.authenticationContainer .sign-in-container{
    z-index: 2;
}

.authenticationContainer div.form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
}

.authenticationContainer h1{
    color: var(--grad-clr1);
}

.authenticationContainer .social-container{
    margin: 20px 0px;
}

.authenticationContainer .social-container a{
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    height: 40px;
}

.authenticationContainer span{
    font-size: 12px;
}

.authenticationContainer .infield {
    position: relative;
    margin: 8px 0px;
    width: 100%;
}

.authenticationContainer a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0px;
}

.authenticationContainer button{
    border-radius: 20px;
    border: 1px solid var(--grad-clr1);
    background: var(--grad-clr2);
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.authenticationContainer .form-container button{
    margin-top: 17px ;
    transition: 80ms ease-in;

}

.authenticationContainer .form-container button:hover{
    background: #FFF;
    color: var(--grad-clr1);
}

.authenticationContainer .overlay-container{
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 9;

}

.authenticationContainer #overlayBtn {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top:  352.5px;
    transform: translateX(-50%);
    width: 143.67px;
    height: 40px;
    border: 1px solid #FFF;
    background: transparent;
    border-radius: 20px;


}

.authenticationContainer .overlay{
    position: relative;
    background: var(--linear-grad);
    color: #FFF;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;

}

.authenticationContainer .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    height: 100%;
    width: 340px;
    transition: 0.6s ease-in-out;
}

.authenticationContainer .overlay-left{
    right: 60%;
    transform: translateX(-12%);
}

.authenticationContainer .overlay-right{
    right: 0;
    transform: translateX(0%);
}

.authenticationContainer .overlay-panel h1{
    color: #FFF;

}

.authenticationContainer .overlay-panel a{
    color: #FFF;

}

.authenticationContainer p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 25px 0px 35px;

}

.overlay-panel button{
    border: none;
    background-color: transparent;
}

.right-panel-active .overlay-container{
    transform: translateX(-150%);

}

.right-panel-active .overlay{
    transform: translateX(50%);
}

.right-panel-active .overlay-left{
    transform: translateX(25%);
}

.right-panel-active .overlay-right{
    transform: translateX(35%);
}

.right-panel-active .sign-in-container{
    transform: translateX(20%);
    opacity: 0;
}

.right-panel-active .sign-up-container{
    transform: translateX(66.7%); 
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 50%{
        opacity: 0;
        z-index: 1;
    }
    50.1%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.authenticationContainer #cancelBTN
{
    color:  #08553b;
}

.authenticationContainer #cancelBTN2
{
    color:  #1e624b;
}